.root {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.svg {
    transform: rotate(-90deg);
}

.meter,
.value {
    fill: none;
}

.meter {
    stroke: #000;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, .35));
}

.value {
    stroke: #fff;
    stroke-linecap: butt;
    transition: stroke-dashoffset linear 1000ms;
}

.ticks {
    stroke: #000;
    stroke-width: 9;

    @for $i from 1 through 12 {
        > line:nth-child(#{$i}) {
            transform: rotate(calc(#{$i - 1} * 30deg));
        }
    }
}

.handle {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .35));
    transition: transform linear 1000ms;
}
