$text-shadow: 2px 2px 4px rgba(0, 0, 0, .35);
$shadow-stroke: inset 0 0 0 2px #fff; //$black-80;
$shadow-focus: 0 0 0 2px #fff; // $gray-90;
$shadow-hover: 0px 4px 16px rgba(0, 0, 0, 0.2);
$shadow-hover-stroke: 0 0 0 1px #fff; // $black-0;
$transition-duration: 150ms;
$transition-ease: ease;
$font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
